@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    color: #eee;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #343540;
}

input,
button {
    padding: 10px;
    outline: none;
    border: 1px solid #565869;
    background-color: #40414e;
    border-radius: 8px;
    min-width: 3.5in;
    margin-bottom: 5px;
}

.history {
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: background 200ms;
}

.history-panel {
    background-color: #202123;
    min-width: 1.6in;
    height: calc(100% - 17px);
    position: fixed;
    top: 0;
    left: -2in;
    padding: 13px;
    overflow: auto;
    transition: left 200ms;
}

.history-panel::-webkit-scrollbar-thumb {
    background-color: #3c3d3f;
}

.history-panel::-webkit-scrollbar-thumb:hover {
    background-color: #454649;
}

.history-panel div:first-child {
    color: #bbb;
}

.history-panel .close {
    border: 1px solid #bbb;
    padding: 7px;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 8px;
    color: #bbb;
    cursor: pointer;
    transition: background 200ms;
}

.history-panel .close:hover {
    background-color: rgba(187, 187, 187, 0.1);
}

.history-panel img {
    height: 100px;
    width: 152px;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 200ms;
}

.history-panel img:hover {
    transform: scale(1.04);
}

.history:hover {
    background-color: #444653;
}

button {
    min-width: max-content;
    cursor: pointer;
    transition: background 200ms;
}

button:hover {
    background-color: #44465a;
}

.logo,
.output {
    border-radius: 8px;
    margin-bottom: 7px;
}

.output {
    max-height: 250px;
}

.colors {
    display: inline-flex;
    flex-wrap: wrap;
}

.colors div {
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

.clipboard-text {
    background-color: #40414e;
    padding: 7px;
    border: 1px solid #565869;
    border-radius: 8px;
    width: max-content;
    pointer-events: none;
    position: fixed;
    display: none;
}

.code-snippet {
    position: relative;
    max-width: max-content;
}

.code-snippet svg {
    height: 25px;
    padding: 7px;
    width: max-content;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 8px;
    transition: background 200ms;
}

.code-snippet svg:hover {
    background-color: #37383f;
}

.hljs {
    background-color: #444653 !important;
    border: 1px solid #565869;
    border-radius: 8px;
    max-width: max-content;
    height: 5.5in;
    overflow: auto;
}

.hljs-attr,
a {
    color: #93cef0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

br {
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #565869;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #626475;
}

@media only screen and (max-width: 600px) {
    input {
        min-width: 2.5in;
    }
}